body{
    background-color: #ffffff;
    color: #000000;
    front-family: Arial;
    front-weight: normal;
    front-size: 13px;
    line-height: 1.1875;
    margin:0;
    padding:o;
    }
    
    a{
        color: #0000ff;
        text-decoration: underline;
    }
    
    a:visited{
        color: #800080;
    }
    
    a:active{
        color: #ff0000;
    }
    
    a:hover{
        color: #0000ff;
        text-decoration: underline;
    }
    input:focus,textarea:focus, select:focus{
        outline: none;
    }
    
    #toc-container{
        background-color: #F8F9FA;
        background-image: none;
        border: 1px solid #A2A9B1;
        border-radius: 0px;
        box-sizing: border-box;
        color: #000000;
        front-family:Arial;
        front-weight: normal;
        front-style: normal;
        front-size: 13px;
        line-height: 1.4;
        margin:0;
        padding:10px 10px 10px;
        tex1-align:left;
    }

    #toc-container ul{
        list-style-type: none;
        list-style-type: inside;
    }

    #toc-contaoiner > ul ul{
        margin: 0;
        padding: 0;
    }

    #toc-container .toc-title{
        front-weight: bold;
        front-size: 19px;
        padding: 0 0 0.scm;
    }

   














    
    

    
    
    